<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proposal</title>
    <style>
        body {
            font-family: Calibri;
            line-height: 1.15;
            font-size: 12pt;
        }
    </style>
</head>

<body>
    <p>Hi Ellen,</p>
    <p>Nice to meet with you last week! Thank you for your interest in a home energy solution from Mid-State Solar, and
        we appreciate the opportunity to submit the attached proposal for a PV system and ESS. To best balance between
        energy production goals, and cost effectiveness of the design, we are recommending a {{PV_SIZE}} kW system with
        {{PANEL_QUANTITY}} {{PANEL_STC}}-watt solar modules and {{INVERTER_MANUFACTURER}} {{INVERTER_MODEL}}
        micro-inverters, with optional battery
        storage of {{BATTERY_SIZE}}kWh.</p>
    <p>The system is expected to produce around {{TOTAL_SIZE}} kWh annually, or about {{USAGE_PERCENTAGE}}% of your
        average annual MID usage (based on the historical monthly usage amounts provided to us). This quote includes all
        permits and application fees for the solar project, including the $900 MID application fee.</p>
    <p><i>As you may know, MID’s current Net Metering program has affected the financial payback for solar systems by
            eliminating the possibility of a $0 monthly utility bill. Specifically, MID now pays a wholesale rate for
            any excess electricity sent back to the grid, and they charge a retail rate for any electricity purchased.
            This makes it very difficult to predict your actual post-solar MID bill, so we have included a minimal
            portion of the financial analysis as well as a full disclaimer about the actual bill reduction. You can also
            get more information at their website: <a href="https://www.mid.org/saving-energy-money/solar/"
                target="_blank">https://www.mid.org/saving-energy-money/solar/</a>. While the changes should be noted
            and explained, we are still confident that a solar system can provide you with a significant savings over
            its life.</i></p>
    <p><i>The quoted {{INVERTER_MANUFACTURER}} {{INVERTER_MODEL}} micro-inverters are {{INVERTER_EFFICIENCY}}%
            efficient, <b>have {{INVERTER_WARRANTY}} year warranties</b> and offer
            module-level monitoring. The attached literature includes some information on how micro-inverters work, and
            how they can increase the system’s energy harvest. Micro-inverter systems are also very easily expandable at
            a later date as the modules & inverters are essentially “plug & play”. <a
                href="https://enphase.com/en-us/products-and-services/microinverters"
                target="_blank">https://enphase.com/en-us/products-and-services/microinverters</a>. Please also feel
            free to take a look at one of our publicly accessible micro-inverter systems for reference <a
                href="https://enlighten.enphaseenergy.com/installer_systems/430/Mid-State+Solar"
                target="_blank">https://enlighten.enphaseenergy.com/installer_systems/430/Mid-State+Solar</a>. Mid-State
            Solar is an <b>Enphase Platinum Installer Partner</b> and we have been installing Enphase micro-inverters
            since 2009.</i></p>
    <p><i>Micro-inverters have more features and can offer higher efficiency than string inverters. They also have more
            than twice the warranty coverage (25 years vs. 10 years). As a result, the cost is higher than the same size
            system using a traditional Fronius or SMA string inverter (10-year warranty), depending on the system size.
            A SolarEdge system (12-year inverter and 25-year optimizers warranty) will split the difference on cost.
            Please note that Enphase micro-inverters are NOT “optimizers” (they are true DC to AC inverters) and do not
            require a separate wall mounted inverter. <b>This is an important distinction, as many SolarEdge optimizer
                systems are errantly being marketed as equivalent to micro-inverters.</b></i></p>
    <p>I look forward to discussing with you after you’ve had a chance to review the attached proposal. Thanks again for
        the opportunity to earn your business!</p>
    <p>Aaron</p>
    <p style="font-family: Arial; font-size: 12pt; color: #1F497D; line-height: 1;">Aaron Yakligian<br> <span
            style="font-size: 10pt;"><b>MID-STATE SOLAR</b><br> 450 Glass Ln, Suite A-1<br> Modesto, CA 95356<br> (209)
            551-7800 office<br> (209) 480-4941 cell<br> <span style="color:blue;"><a
                    href="https://www.midstatesolar.com" target="_blank">midstatesolar.com</a></span></span> </p>
    <p style="color:#00B050; font-size: 14pt"><b><i>“Purely Solar since 1977”</i></b></p>
</body>

</html>
